<!-- Info Modal -->
<div id="info-modal" class="fixed inset-0 z-50 flex hidden items-center justify-center bg-transparent">
  <div class="relative w-xl rounded-2xl bg-neutral-900 p-8 text-left shadow-2xl">
    <h2 class="mb-4 text-xl font-bold">Game Info</h2>
    <p class="mb-6 text-neutral-300">
    Welcome to Yet Another Idler Attempt (YAIA)<br><br>
    Credits:<br>
    Icon Packs: <br>
    This list will probably shrink a little as I settle on a proper style<br>
    </p>
    <ul class="list-disc">
      <li><a href="https://finalbossblues.itch.io/icons">general icons finalbossblues on itch</a></li>
      <li><a href="https://batareya.itch.io/250-magical-icons-pixel-art-icons">magical icons by batareya on itch</a></li>
      <li><a href="https://henrysoftware.itch.io/pixel-food">Pixel Food by henrysoftware on itch</a></li>
      <li><a href="https://glionox.itch.io/items16">Items by glionox on itch</a></li>
      <li><a href="https://helianthus-games.itch.io/pixel-art-planets">Planets by helianthus-games on itch</a></li>
      <li><a href="https://bdragon1727.itch.io/1050-rpg-effects-64x64">Effects by bdragon1727 on itch</a></li>
      <li><a href="https://nikoichu.itch.io/pixel-icons">1 Bit Icons by nikoichu on itch</a></li>
    </ul><br>
    <button id="info-ok" data-close-modal class="rounded-xl bg-neutral-600 px-6 py-2 font-semibold hover:bg-neutral-500">
    OK
    </button>
  </div>
</div>