<!-- Info Modal -->
<div id="info-modal" class="fixed inset-0 z-50 flex hidden items-center justify-center bg-transparent">
  <div class="relative w-96 rounded-2xl bg-neutral-900 p-8 text-left shadow-2xl">
    <h2 class="mb-4 text-xl font-bold">Game Info</h2>
    <p class="mb-6 text-neutral-300">
    Welcome to Yet Another Idler Attempt (YAIA)
    I have no idea what to put here yet :3
    </p>
    <button id="info-ok" data-close-modal class="rounded-xl bg-neutral-600 px-6 py-2 font-semibold hover:bg-neutral-500">
    OK
    </button>
  </div>
</div>